* {
  margin: 0;
  padding: 0;
}

/* Fondo de pantalla */
.container-all {
  background-image: url(../images/metro-de-lima.jpg);
  padding-block-end: 2%;
}
.main {
  background-color: rgba(60,122,209,.9);
  border-radius: 40px;
  margin: 2% 14%;
  padding: 4% 5%;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

/* Fuentes de texto */
.font1 { 
  font-family: 'Noto Sans', sans-serif;
  margin: 0; 
}
.font2 {
  font-family: 'Merriweather', serif;
}

/* Márgenes entre preguntas */
.margin-bottom1 {
  margin-bottom: 0.5rem;
}
.margin-bottom2 {
  margin-bottom: 1.5rem;
}

/* Diseño de inputs requeridos */
.required {
  color: rgb(156, 13, 13);
}

/* Cabecera */
.header {
  align-items: center;
  background-color: #499f42;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: no-wrap;
  height: 65px;
  justify-content: space-between;
  width: auto;
}
.logo {
  margin: 0 25%;
}
.img-logo {
  height: 50%;
  width: 50%;
}

/* Título, súbtitulo e introducción*/
.title {
  font-size: 1.4rem;
  margin: 2% 5%; 
}
.subtitle {
  font-size: 1.2rem;
}
.description {
  font-size: 1rem;
}

 /* Formulario  */
.survey-form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.personal-information {
  background: transparent;
  border: 0 solid;
  border: 1.5px solid #ffffff;
  border-radius: 12px;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  outline: 0;
  padding: .5rem;
  width: calc(100% - 8rem);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.personal-information:focus {
  background: white;
  color: black;
  transition: 250ms background ease-in;
  -webkit-transition: 250ms background ease-in;
  -moz-transition: 250ms background ease-in;
  -ms-transition: 250ms background ease-in;
  -o-transition: 250ms background ease-in;
}
.personal-information:hover {
  border: 1.5px solid #bdbdbd;
}
.personal-information::-webkit-input-placeholder{
  color: #ccc9c9;
  font-size: 1rem;
}
.option-improve {
  border: 1.5px solid #000;
  border-radius: 12px;
  font-size: 1rem;
  height: 2rem;
  outline: 0;
  padding: 0 0.5rem;
  width: 30%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.option-improve:hover {
  border: 1.5px solid #383838;
  color: #383838;
}
.list {
  margin-inline-start: 0;
  line-height: 2rem;
  list-style: none;
}
.options-margin {
  margin-inline-start: 2.7rem;
}
.txt-opinion {
  border-radius: 12px;
  font-size: 0.9rem;
  height: 5rem;
  justify-content: center;
  outline: 0;
  padding: 0.4rem 0.6rem;
  resize: vertical;
  width: 88%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.btn-submit {
  background-color: #499f42;
  border-radius: 12px;
  box-shadow: 7px 7px 10px -6px rgba(0,0,0,0.75);
  font-size: 1.2rem;
  margin-inline-start: 2.7rem;
  outline: 0; 
  padding: 1.2% 4%; 
  text-align: center;
  width: 20%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  }
.btn-submit:hover {
  background-color: #59b850;
  cursor: pointer;
  padding-bottom: 1.1%;
  padding-top: 1.3%;
}

/* Inputs requeridos o con error */
.error {
  background: #ffffff;
  border: 1px solid  #dd1a1a;
  border-radius: 12px;
  color: #000000;
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
  outline: 0;
  padding: .5rem;
  width: calc(100% - 8rem);  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* Tooltips */
.cont-tooltip .tooltip {
  position: absolute;
  visibility: hidden;
}

/* Tooltips activos */
.tooltipActive {
  background-color:  #59b850;
  border-radius: 5px;
  color: #000000;
  font-size: 0.93rem;
  left: 60%;
  margin-left: -60px;
  margin-right: 2%;
  padding: 5px 5px;
  position: absolute;
  text-align: center;
  visibility: visible;
  width: auto;
  z-index: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Tooltip 'triangulo direccional' */
.tooltipActive::after {
  border-width: 5px;
  border-style: solid;
  border-color: transparent #59b850 transparent transparent;
  content: "";
  right: 100%;
  margin-top: -5px;
  position: absolute;
  top: 50%;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .survey-form {
    font-size: 0.9rem;
  }
  .personal-information {
    height: 0.9rem;
  }
  .personal-information::-webkit-input-placeholder{
    color: #ccc9c9;
    font-size: 0.9rem;
  }
  .option-improve {
    font-size: 0.8rem;
    width: 40%;
  }
  .txt-opinion {
    font-size: 0.9rem;
    width: 75%;
  }
  .cont-btn-submit {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .btn-submit {
    font-size: 1rem;
    margin-inline-start: 0;
    text-align: center;
    width: 29%;
  }
}
@media (max-width: 425px) {
  .logo {
    margin: 1rem;
    width: 5.5rem;
  }
  .img-logo {
    height: 50%;
    width: 50%;
  }
  .title {
    font-size: 1.2rem;
  }
  .subtitle {
    font-size: 1.1rem;
  }
  .description {
    font-size: 1rem;
  }
  .survey-form {
    font-size: 0.9rem;
  }
  .personal-information {
    font-size: 0.7rem;
    height: 0.7rem;
    width: calc(100% - 6rem);
  }
  .personal-information::-webkit-input-placeholder{
    color: #ccc9c9;
    font-size: 0.8rem;
  }
  .list {
    padding-left: 1rem;
  }
  .options-margin {
    margin-inline-start: 0;
    padding-left: 1rem;
  }
  .option-improve {
    font-size: 0.8rem;
    height: 1.7rem;
    margin-left: 0.9rem;
    width: 65%;
  }
  .txt-opinion {
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
    width: 93%;
  }
  .btn-submit {
    font-size: 0.9rem;
    width: 35%;
  }
  .error {
    border-radius: 10px;
    font-size: 0.8rem;
    height: 0.8rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .tooltipActive {
    color: #000000;
    background: #ffffff;
    border: 1px solid #dd1a1a;
    font-size: 0.6rem;
    left: 70%;
    padding: 3px 4px;
  }
  .tooltipActive::after {
    border-color: transparent #dd1a1a transparent transparent;
  }
}
@media (max-width: 375px) {
  .img-logo {
    width: 2.3rem;
  }
  .main {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .survey-form {
  
  font-size: 0.8rem;
  }
  .title {
    font-size: 0.9rem;
  }
  .subtitle {
    font-size: 0.8rem;
  }
  .description {
    font-size: 0.8rem;
  }
  .options-margin {
    padding-left: 0.3rem;
  }
  .option-improve {
    font-size: 0.8rem;
    margin-inline-start: 0;
    width: 93%;
  }
  .txt-opinion {
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
    width: 82%;
  }
  .options-margin {
    margin-inline-start: 0.6rem;
  }
}
